
.markyWorks{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    width: 80%;
}
.markyWorks-card{
    align-content: space-around;
    
    margin: 1em 1em 1em 1em;

    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

  
  /* On mouse-over, add a deeper shadow */
  .markyWorks-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .markyWorks-container {
    padding: 2px 16px;
  }


.markyCollab{
    display: flex;
    align-content: space-around;
}


.markyCollab-card {
    /* Add shadows to create the "card" effect */
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 1em 1em 1em 1em;
  }
  
  /* On mouse-over, add a deeper shadow */
  .markyCollab-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .markyCollab-container {
    padding: 2px 16px;
  }
.navigation {
    width: 100%;
	float: right;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc; 
    border-top: 1px solid #ccc; }
    
.navigation li {
    float: right; }
    
.navigation li a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	display: inline-flex;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
    border-right: 1px solid #ccc; }

.navigation li a:active {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	display: inline-flex;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: purple;
    border-right: 1px solid #ccc;
}
    
.navigation li a:hover {
	color: #c00;
    background-color: #fff; }
    
.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    width: 30px;
    border-radius: 50%;
  }
.fa:hover {
    opacity: 0.7;
  }
  
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
.fa-twitter {
    background: #55ACEE;
    color: white;
  }

.fa-instagram {
    background: #125688;
    color: white;
}
.social-media footer a {
    display: flex;
    flex-direction: row;
    justify-content: right;
}
